body {
    background-image: url("banana.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    font-size: 40px;
    width: 60%;
}

#backButton {
    font-size: 20px;
    background-color: aquamarine;
    border-width: 1px;
    border-color: rgb(56, 251, 186);
    border-radius: 5px;
    padding: 8px;
    color: blue;
}

#backButton:hover {
    border-width: 1px;
    border-color: rgb(56, 251, 186);
    border-radius: 5px;
}

#status{
    font-weight: 500;
    font-size: 18px;
}

canvas {
    background-color: white;
    border-style: solid;
    border-width: 15px;
    border-radius: 15px;
    border-color: gray;
    margin-top: 80px;
}