body {
    background-image: url("coffee.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    font-size: 40px;
    width: 60%;
}

#backButton {
    font-size: 20px;
    background-color: #E1AD01;
    border-width: 1px;
    border-color: #cf9f02;
    border-radius: 5px;
    padding: 8px;
    color: whitesmoke;
}

#backButton:hover {
    border-width: 1px;
    border-color: #cf9f02;
    border-radius: 5px;
}

#status{
    font-weight: 500;
    font-size: 18px;
    color: wheat;
}

canvas {
    background-color: white;
    border-style: solid;
    border-width: 15px;
    border-radius: 15px;
    border-color: gray;
    margin-top: 80px;
}